@use "../../styles/variables" as varr;

.header {
  padding-left: varr.$nav__padding;
  padding-right: varr.$nav__padding;
  min-height: 80rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5.7rem;

  @media only screen and (max-width: 1200px) {
    padding: 0 3rem;
  }

  @media only screen and (max-width: 650px) {
    padding: 0 3rem;
  }

  @media only screen and (max-width: 440px) {
    padding: 0 3rem;
  }
}

.heroContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;

  @media only screen and (max-width: 900px) {
    gap: 5rem;
  }

  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &__headingText {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    h1 {
      font-size: 4.8rem;
      font-weight: 400;
      line-height: 7.2rem;

      @media only screen and (max-width: 1000px) {
        font-size: 4rem;
        line-height: 5rem;
      }
    }

    p {
      line-height: 2.8rem;
      color: #777777;
    }
  }

  &__buttons {
    display: flex;
    gap: 2.4rem;

    @media only screen and (max-width: 440px) {
      flex-direction: column;
    }
  }

  &__image {
  }
}
