@use "../../styles/variables" as varr;

.blogItem {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    h6 {
      span {
        color: varr.$color__grey;
      }
    }

    p {
      font-size: 1.3rem;
      max-width: 30rem;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    figcaption {
      font-size: 1.2rem;
    }
  }
}
