@use "../../styles/variables" as varr;

.enterprise {
  background-color: varr.$color__primary;
  padding: 7rem varr.$nav__padding 5rem varr.$nav__padding;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__icon {
      display: flex;
      gap: 2rem;

      i {
        background-color: varr.$main__white;
        color: varr.$color__primary;
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__content {
    background-color: varr.$main__white;
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 30rem;
    min-height: 30rem;

    p {
      line-height: 3rem;
    }
  }
}

.left {
  &:hover {
    svg {
      animation: moveLeft 0.3s ease-in-out;
      -webkit-animation: moveLeft 0.3s ease-in-out;
    }
  }
}

.right {
  &:hover {
    svg {
      animation: moveRight 0.3s ease-in-out;
      -webkit-animation: moveRight 0.3s ease-in-out;
    }
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0) scale(1);
    -webkit-transform: translateX(0) scale(1);
    -moz-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    -o-transform: translateX(0) scale(1);
  }
  100% {
    transform: translateX(-50%) scale(1.05);
    -webkit-transform: translateX(-50%) scale(1.05);
    -moz-transform: translateX(-50%) scale(1.05);
    -ms-transform: translateX(-50%) scale(1.05);
    -o-transform: translateX(-50%) scale(1.05);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0) scale(1);
    -webkit-transform: translateX(0) scale(1);
    -moz-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    -o-transform: translateX(0) scale(1);
  }
  100% {
    transform: translateX(50%) scale(1.05);
    -webkit-transform: translateX(50%) scale(1.05);
    -moz-transform: translateX(50%) scale(1.05);
    -ms-transform: translateX(50%) scale(1.05);
    -o-transform: translateX(50%) scale(1.05);
  }
}
