@use "../../styles/variables" as varr;

.connect {
  background-color: rebeccapurple;

  &__container {
    padding: 8rem varr.$nav__padding varr.$nav__padding varr.$nav__padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8rem;
    }
  }

  &__details {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;

    h3 {
      font-size: 3.5rem;
      font-weight: 400;
    }
  }
}
