@use "../../styles/variables" as varr;

.connect {
  background-color: #e5e5e5;

  &__container {
    padding: 8rem varr.$nav__padding varr.$nav__padding varr.$nav__padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8rem;

      @media only screen and (max-width: 900px) {
        flex-direction: column;
      }

      @media only screen and (max-width: 900px) {
        gap: 4rem;
      }
    }
  }

  &__details {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;

    h3 {
      font-size: 3.5rem;
      font-weight: 400;
    }

    &__holder {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__line,
  &__line2 {
    display: flex;
    align-items: center;
    gap: 2rem;

    i {
      font-size: 3rem;
    }
  }

  &__line2 {
    i {
      font-size: 2rem;
    }
    background-color: varr.$main__white;
    width: 45rem;
    cursor: pointer;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 1rem 1.5rem;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;

    &:hover {
      background-color: varr.$color__primary;
      color: varr.$main__white;
    }
  }
}
