@use "../../styles/variables" as varr;

.footer {
  &__box {
    // background-color: varr.$color__primary;
    background-image: radial-gradient(
      circle farthest-side at 90% -145%,
      varr.$color__primary 10%,
      varr.$color__secondary 70%,
      varr.$color__primary 70%
    );
    position: relative;
    width: 90%;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 6rem 0;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
    overflow: hidden;

    @media only screen and (max-width: 900px) {
      padding: 3rem 0;
    }

    h2 {
      color: varr.$main__white;
      font-size: 4rem;
      font-weight: 400;
      max-width: 45%;
      text-align: center;
      line-height: 6rem;

      @media only screen and (max-width: 900px) {
        font-size: 2.5rem;
        line-height: 4rem;
      }

      @media only screen and (max-width: 550px) {
        font-size: 2rem;
        line-height: 3rem;
        max-width: 65%;
      }
    }

    form {
      display: flex;
      width: 40%;
      gap: 2rem;

      @media only screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        width: 50%;
      }

      @media only screen and (max-width: 550px) {
        width: 60%;
      }

      input {
        border-radius: 24rem;
        -webkit-border-radius: 24rem;
        -moz-border-radius: 24rem;
        -ms-border-radius: 24rem;
        -o-border-radius: 24rem;
        border: 2px solid varr.$main__white;

        padding: 1rem;
        width: 100%;
        padding-left: 2rem;

        &:focus {
          outline: none;
          border-bottom: 2px solid varr.$color__green;

          &:invalid {
            border-bottom: 2px solid orangered;
          }
        }
      }
    }
  }

  &__list {
    display: flex;
    width: 90%;
    margin: 12rem auto 8rem auto;
    gap: 8rem;

    @media only screen and (max-width: 900px) {
      margin: 10rem auto 8rem auto;
    }

    @media only screen and (max-width: 550px) {
      flex-direction: column;
      gap: 4rem;
      margin: -1rem auto 8rem auto;
    }

    &__logo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 3rem;

      @media only screen and (max-width: 550px) {
        align-self: center;
        gap: 2rem;
      }

      p {
        max-width: 30rem;
        font-size: 1.4rem;
        line-height: 2rem;
        color: varr.$color__grey;
      }
    }

    &__links {
      display: flex;
      flex-grow: 1;
      justify-content: space-around;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    h3 {
      font-size: 1.8rem;
      font-weight: 700;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      li a {
        font-size: 1.4rem;
        line-height: 2rem;
        color: varr.$color__grey;
      }
    }
  }
}

.careers {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

// .arc {
//   background: rebeccapurple;
//   position: absolute;
//   height: 1493px;
//   width: 1493px;
//   right: -50%;
//   bottom: 30%;

//   border-radius: 50%;
//   -webkit-border-radius: 50%;
//   -moz-border-radius: 50%;
//   -ms-border-radius: 50%;
//   -o-border-radius: 50%;
// }
