@use "../../styles/variables" as varr;

.footer {
  &__box {
    background-color: varr.$color__primary;
    width: 90%;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 6rem 0;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;

    h2 {
      color: varr.$main__white;
      font-size: 4rem;
      font-weight: 400;
      max-width: 45%;
      text-align: center;
      line-height: 6rem;
    }

    form {
      display: flex;
      width: 40%;
      gap: 2rem;

      input {
        border-radius: 24rem;
        -webkit-border-radius: 24rem;
        -moz-border-radius: 24rem;
        -ms-border-radius: 24rem;
        -o-border-radius: 24rem;
        border: 2px solid varr.$main__white;

        padding: 1rem;
        width: 100%;
        padding-left: 2rem;

        &:focus {
          outline: none;
          border-bottom: 2px solid varr.$color__green;

          &:invalid {
            border-bottom: 2px solid orangered;
          }
        }
      }
    }
  }
}
