@use "../styles/variables" as varr;

.aboutHeader {
  background-color: varr.$color__primary;
  min-height: 55.5rem;
  color: varr.$main__white;
  padding: 0 varr.$nav__padding;

  @media only screen and (max-width: 800px) {
    min-height: 45rem;
  }

  &__hero {
    max-width: 78.8rem;
    margin: 0 auto;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;

    @media only screen and (min-width: 1800px) {
      max-width: 200rem;
    }

    @media only screen and (max-width: 800px) {
      gap: 1rem;
    }

    p {
      color: #f1f1f1;
      line-height: 2.8rem;
      max-width: 72rem;
      text-align: center;

      @media only screen and (min-width: 1800px) {
        max-width: 200rem;
      }
    }

    h1 {
      font-size: 6.4rem;
      font-weight: 400;
      line-height: 8.4rem;
      text-align: center;

      @media only screen and (max-width: 800px) {
        font-size: 4rem;
        line-height: 5rem;
        font-weight: 500;
      }

      @media only screen and (max-width: 450px) {
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 700;
      }
    }
  }
}
