@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");

$app-font: "Manrope", sans-serif;

$main_font: 1.6rem;
$font__wight: 400;

// color
$main__white: #ffffff;
$color__primary: #0a2640;

$text_color: #000;

$border_radius_main: 0.5rem;

$transition: all 0.3s linear;

// typography
$nav__padding: 10rem;
